.page {
        display: flex;
        min-height: 100vh;
        margin: 0;
        padding: 0;
}

/* Фиксируем высоту, которую меняет панель гугла*/

.page_fix {
    top: 0 !important;
    position: static !important;
}

.content {
    text-align: center;
    margin: auto;
}

/* Прячем панель гугла */

.skiptranslate {
    display: none !important;
}

/* language */

.language {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.language__img {
    margin: 2px;
    cursor: pointer;
    opacity: .5;
}

.language__img:hover,
.language__img_active {
    opacity: 1;
}